streamlit
python-dotenv
chromadb
sentence-transformers
torch
transformers
numpy
pydub
moviepy
yt-dlp[default]
deno
google-genai
sarvamai
ffmpeg-python
bgutil-ytdlp-pot-provider
youtube-transcript-api
yt-dlp>=2024.04.09
